@media screen and (min-width: 425px) {
  nav h1 {
    padding-bottom: 20px;
  }
}


@media screen and (min-width: 700px) {
  #restaurants-list {
    justify-content: space-between;
  }

  #restaurants-list li {
    width: 45%;
  }

}

@media screen and (min-width: 825px) {
  #breadcrumb {
    width: calc(50% - 80px);
  }

  .inside #map {
    height: 100%;
  }

  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  #restaurant-container, #reviews-container {
    padding: 140px 40px 30px;
    width: 50%;
  }

  #reviews-container {
    padding: 30px 40px 80px;
  }


@media screen and (min-width: 1000px) {
  #restaurants-list li {
    width: 30%;
  }
}

@media screen and (min-width: 1300px) {
  #restaurants-list li {
    width: 22.5%;
  }
}
